/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}


/*card section*/
.icon{
    color: #3F87F5;
}

.hovar-card:hover{
    box-shadow: 0 0 11px #33478bab !important; 
    transition: all 0.3 ease !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    z-index: 2;
}

